html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Form Elements Styling */
input[type="text"],
input[type="submit"],
select,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  /* Prevents padding from affecting width */
  margin-bottom: 15px;
  /* Adds spacing between elements */
}

input[type="text"]:focus,
select:focus,
textarea:focus {
  border-color: #258cfb;
  outline: none;
  box-shadow: 0 0 4px rgba(37, 140, 251, 0.5);
}

/* Submit Button Styling */
input[type="submit"] {
  background-color: #258cfb;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Form-Floating Placeholder Styling */
.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

/* Responsive Adjustments */
@media (max-width: 600px) {

  input[type="text"],
  select,
  textarea {
    font-size: 0.9rem;
    width: 100%;
  }
}